<%- include('../header.ejs') %>

    <br><br><br><br><br>
    <h1 class="text-center">Admin View</h1>

    <div class="container mt-5">
        <div class="table-responsive ">
            <table class="table table-bordered ">
                <thead class="bg-dark text-white text-center">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>

                        <th>Mobile Number</th>
                        <th>Course</th>
                        <th>Status</th>
                        <th>Comment</th>

                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            12345
                        </td>
                        <td>
                            dfghj
                        </td>
                        <td>
                            dfgfhg@gm
                        </td>
                        <td>
                            1234587
                        </td>
                        <td>
                            mca
                        </td>
                        <td>
                            pen
                        </td>
                        <td>
                            sdgjhklk
                        </td>

                    </tr>




                </tbody>
            </table>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>

    <%- include('../footer.ejs') %>